body {
    margin: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    background-color: #FFF8EA;
    font-size: 1.9em;

}
h1 {
    margin: 120px 0 auto 0;
    font-family: 'Dancing Script', cursive;
    font-size: 5.625rem;
    color: #9E7676;
    line-height: 1.4;
}
h2 {
    font-family: 'Philosopher', sans-serif;
    font-size: 4rem;
    font-weight: normal;
    color: #9E7676;
}
.aprogrammer {
    margin-bottom: 180px;
}
h3 {
    font-family: 'Philosopher', sans-serif;
    color: #815B5B;
}
p {
    color: #594545;
    font-weight: bold;
}
.top-container {
    position: relative;
    padding-top: 200px;
    padding-bottom: 0;
    background-color: #FFF8EA;
    margin-bottom: 0;
    border: 10px solid #594545;
    border-bottom-width: 0;
}
.desert {
    position: relative;
    bottom: 0;
    margin-bottom: 0;
    padding: 100px 0 0 0;
    width: 100%;
    display: block;
}
.gradient {
    padding: 50px 100px 100px 100px;
    background-image: linear-gradient(#594545, #FFF8EA);
}
.middle-container {
    padding-bottom: 30px;
    margin-bottom: 0;
    border: 10px solid #594545;
    border-bottom-width: 0;
}
.profile-pic {
    border-radius: 100%;
    border: 12px solid #594545;
    margin-top: 40px;
    width: 300px;

}
.profile {
    width: 70%;
    margin-left: 14.7%;
    line-height: 1.6;
    border: #594545 12px solid;
    background-color: #9E7676;

    margin-bottom: 100px;
    padding-bottom: 40px;
}
.profile-desc {
    font-weight: normal;
    color: #FFF8EA;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-top-width: 8px;
    border-top-color: #9E7676;
    width: 4%;
}
.profileLine {
    border-style: none;
    border-top-style: dotted;
    border-top-width: 8px;
    border-top-color: #FFF8EA;
    margin-bottom: 50px;
    width: 3%;
}
.top-cloud {
    height: 12%;
    position: absolute;
    right: 410px;
    top: 100px;

    animation: animate 3s linear infinite alternate;
}
@keyframes animate {
    0% {
        transform: translateX(5px);
    }
    20% {
        transform: translateY(5px);
    }
    40% {
        transform: translateX(-5px);
    }
    60% {
        transform: translateY(-5px);
    }
    80% {
        transform: translateY(0);
    }
    100% {

        transform: translateX(-5px);
    }
}
.bottom-cloud {
    height: 12%;
    position: absolute;
    left: 360px;
    bottom: 500px;
    animation: animate 3s linear infinite alternate-reverse;
}
.mountain {
    margin-top: 0;
    position:absolute;
    bottom: 0;
    width:100%;
    padding-bottom: 0;
    margin-bottom: 0;
    display: block;
}
.mySkills-title {
    margin-top: 100px;
}
.skill-row {
    margin: 100px auto 200px auto;
    width: 90%;
    text-align: center;
    line-height: 2;
}
.development-coding {
    text-align: center;
    margin-bottom: 0;
}
.myProficiency {
    margin-bottom: 50px;
}
.softSkill-row {
    font-size: 1.9rem;
    margin: auto auto 200px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.softSkills {
    text-align: center;
    padding-top: 30px;
}
.musicSkill-row {
    font-size: 1.9rem;
    margin: 280px auto 200px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.musicLink {
    color: #594545;
}
.skill-icons {
    width: 70%;
    background-color: #9E7676;
    border-style: solid;
    border-color: #594545;
    border-radius: 16%;
    border-width: 12px;
    transition: 0.7s;
}
.hobbies-text {
    margin-right: 300px;
}
.hidden {
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 1.2s;
}
.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);

}
.logos {
    display: flex;
    justify-content: center;


}
.logo:nth-child(2) {
    transition-delay: 200ms;
}
.logo:nth-child(3) {
    transition-delay: 400ms;
}
.logo:nth-child(4) {
    transition-delay: 600ms;
}
.logo:nth-child(5) {
    transition-delay: 800ms;
}
.skill-icons:hover {
    background-color: #815B5B;
}
.mainHeading {

}
.mainHeading:nth-child(2) {
transition-delay: 1s;
}
.skill-icons2 {
    color: #594545;
    width: 25%;
    float:left;
    margin-right: 30px;
}
.skill-icons3 {
    color: #594545;
    width: 25%;
    float: right;
    margin-left: 30px;
    margin-top: 100px;
}
.softSkills-desc {
    margin-left: 300px;
}
.contact-me {
    margin: 100px auto 50px auto;
}
.closingMessage {
    margin-bottom: 50px;
}
.btn {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover {
    background-color: #fff;
}

.btn:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .btn {
        min-width: 120px;
        padding: 0 25px;
    }
}
.footer-link {
    color: #FFF8EA;
    font-size: 1.25rem;
}
.footer-link2 {
    font-weight: normal;
    font-size: 1.1rem;
    color: #FFF8EA;
}

.bottom-container {
    background-color: #594545;
    border: 10px solid #594545;
    border-top-width: 0;
    padding: 30px 0 0px 0;
}
.hobbies {
    text-align: center;
}
.copyright {
    font-size: 1.25rem;
    font-weight: normal;
    color: #FFF8EA;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #a27f7f;
}
::-webkit-scrollbar-thumb {
    background: #815B5B;
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
    background: #594545;
}
